a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {font-family:'Roboto', sans-serif;}
button {border: none;}
/* шапка */
.logo {font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#2196F3;}
.header-studio {color: #212121;}
.footer-studio {color: #FFFFFF;}
.site-naw a {
#212121
}
.site-naw a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;}
.site-naw a:hover,
.site-naw a:focus {
  color: #2196f3;
}
.contact a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.contact a:hover,
.contact a:focus {
  color: #2196f3;
}
/* меню */
.solution {background-color: #2F303A;}
h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
  color: #FFFFFF;
}
.button {
font-weight: bold;
font-size: 16px;
line-height:1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
background-color: #2196f3;
cursor: pointer;
}
.arguments h4 {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#212121;
}
.arguments p {
font-weight: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: #757575;
}
h2 {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
   }
.section-team {background-color: #FFFFFF;}
.team h3 {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.team p {
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:#757575};
/* подвал */
.footer-studio {color: #FFFFFF;}
.physical-addres  {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-contact {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer {background-color:  #2F303A;}
/* портфолио */
.button-portfolio button:hover,
.button-portfolio button:focus {
  background-color:#2196F3;
  color: #FFFFFF;
}
.button-portfolio button {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
}
h3 {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.main p {
font-weight: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}